@import "tailwindcss";

@theme {
  --color-salmon: #c77d57;

  --color-vividviolet: #9F00FF;
  --color-vividviolet-950: #450071;
  --color-vividviolet-900: #57008D;
  --color-vividviolet-800: #6800AA;
  --color-vividviolet-700: #7A00C6;
  --color-vividviolet-600: #8B00E2;
  --color-vividviolet-500: #9F00FF;
  --color-vividviolet-400: #A81CFF;
  --color-vividviolet-300: #B238FF;
  --color-vividviolet-200: #BD54FF;
  --color-vividviolet-100: #C871FF;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  scrollbar-color: var(--color-vividviolet) var(--color-vividviolet-950);
}
